/* line 2, ../sass/main.scss */
.row {
  margin: 5px 0;
  padding: 5px;
}

/* line 7, ../sass/main.scss */
.btn-clear {
  background-color: inherit;
  color: #d43f3a;
}
/* line 11, ../sass/main.scss */
.btn-clear:hover {
  color: #d43f3a;
}

/* line 16, ../sass/main.scss */
.btn-delete-row {
  padding: 5px 12px;
  margin-left: 5px;
}

/* line 21, ../sass/main.scss */
.datepicker {
  width: 220px;
  text-align: left;
  padding: 6px;
}

/* line 27, ../sass/main.scss */
.btn-user-table, .btn-user-table:hover {
  background-color: inherit;
  border: 1px solid #ccc;
  margin-left: 10px;
}
/* line 36, ../sass/main.scss */
.btn-user-table span, .btn-user-table:hover span {
  margin-right: 7px;
}

/* line 41, ../sass/main.scss */
.btn-user-table-progress {
  padding-left: 25px;
  padding-right: 25px;
}

/* line 46, ../sass/main.scss */
.buttons-user-table-left {
  display: none;
}

/* line 50, ../sass/main.scss */
.buttons-user-table-left-show {
  display: inline-block;
}

/* line 55, ../sass/main.scss */
.buttons-user-table-right {
  float: right;
}

/* line 60, ../sass/main.scss */
.page-header {
  position: relative;
  z-index: 9999;
  background: #000;
  margin: 0;
  padding: 10px;
  color: white;
}
/* line 68, ../sass/main.scss */
.page-header p {
  color: inherit;
  display: inline-block;
  padding-top: 16px;
}

/* line 75, ../sass/main.scss */
.navbar-brand {
  cursor: pointer;
}

/* line 79, ../sass/main.scss */
.header-login-name {
  float: right;
}
/* line 82, ../sass/main.scss */
.header-login-name p {
  margin-right: 5px;
}
/* line 86, ../sass/main.scss */
.header-login-name button span {
  margin-left: 5px;
}

/* line 92, ../sass/main.scss */
#sidebar-wrapper {
  background-color: #f8f8f8;
  color: #111111;
  border-right: 1px solid #ccc;
  overflow: hidden;
}

/* line 99, ../sass/main.scss */
.sidebar-nav li.active {
  border-left: 5px solid #1995dc;
}

/* line 103, ../sass/main.scss */
.sidebar-nav li:last-child {
  color: #999999;
}

/* line 107, ../sass/main.scss */
.sidebar-nav li a {
  color: inherit;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 5px;
}
/* line 112, ../sass/main.scss */
.sidebar-nav li a:hover {
  color: inherit;
}
/* line 116, ../sass/main.scss */
.sidebar-nav li a span {
  display: inline;
  margin: 0 15px 0 0;
}

/* line 124, ../sass/main.scss */
.container-search, .container-table, .container-columns, .container-update, .container-table-filter {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: -6px;
}

/* line 132, ../sass/main.scss */
.container-search .form-group {
  margin-right: 4px;
  margin-bottom: 0;
}
/* line 136, ../sass/main.scss */
.container-search .form-group .form-control {
  width: 220px;
}

/* line 142, ../sass/main.scss */
.checkbox label {
  margin: 3px 0;
}

/* line 146, ../sass/main.scss */
.container-tags {
  margin: 10px 0;
  padding: 0;
}
/* line 150, ../sass/main.scss */
.container-tags .tag {
  background-color: transparent;
  border: 1px solid #ccc;
  margin-right: 7px;
}
/* line 155, ../sass/main.scss */
.container-tags .tag:before {
  content: 'x';
  margin-right: 5px;
  font-weight: bold;
}
/* line 162, ../sass/main.scss */
.container-tags .pagination {
  margin: 0;
  padding: 6px 12px;
  float: right;
  margin-right: -25px;
}

/* line 174, ../sass/main.scss */
.container-table thead {
  font-weight: bold;
}
/* line 178, ../sass/main.scss */
.container-table td {
  text-align: center;
}
/* line 181, ../sass/main.scss */
.container-table td:nth-child(2) {
  text-align: left;
}
/* line 185, ../sass/main.scss */
.container-table td:nth-child(5) {
  text-align: right;
}
/* line 190, ../sass/main.scss */
.container-table tr.row-selected {
  background: rgba(0, 0, 100, 0.1);
}
/* line 194, ../sass/main.scss */
.container-table .avatar {
  margin-right: 10px;
}
/* line 199, ../sass/main.scss */
.container-table .user-row td span {
  float: right;
  margin-top: 7px;
}
/* line 204, ../sass/main.scss */
.container-table .user-row td a {
  text-decoration: none;
  color: inherit;
}
