// Standard components
.row {
	margin: 5px 0;
	padding: 5px;
}

.btn-clear {
	background-color: inherit;
	color: #d43f3a;

	&:hover {
		color: #d43f3a;
	}
}

.btn-delete-row {
	padding: 5px 12px;
	margin-left: 5px;
}

.datepicker {
	width: 220px;
	text-align: left;
	padding: 6px;
}

.btn-user-table {
	background-color: inherit;
	border: 1px solid #ccc;
	margin-left: 10px;

	&:hover {
		@extend .btn-user-table;
	}

	span {
		margin-right: 7px;
	}
}

.btn-user-table-progress {
	padding-left: 25px;
	padding-right: 25px;
}

.buttons-user-table-left {
	display: none;
}

.buttons-user-table-left-show {
	display: inline-block;
}


.buttons-user-table-right {
	float: right;
}

// Header
.page-header {
	position: relative;
	z-index: 9999;
	background: #000;
	margin: 0;
	padding: 10px;
	color: white;

	p {
		color: inherit;
		display: inline-block;
		padding-top: 16px;
	}
}

.navbar-brand {
	cursor: pointer;
}

.header-login-name {
	float:right;

	p {
		margin-right: 5px;
	}

	button span {
		margin-left: 5px
	}
}

// Sidebar
#sidebar-wrapper {
	background-color: #f8f8f8;
	color: #111111;
	border-right: 1px solid #ccc;
	overflow: hidden;
}

.sidebar-nav li.active {
	border-left: 5px solid #1995dc;
}

.sidebar-nav li:last-child {
	color: #999999;
}

.sidebar-nav li a {
	color: inherit;
	border-bottom: 1px solid #ccc;
	padding: 10px 0 5px;

	&:hover {
		color: inherit;
	}

	span {
		display: inline;
		margin: 0 15px 0 0;
	}
}

// Search container

.container-search, .container-table, .container-columns, .container-update, .container-table-filter {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	padding: 15px;
	margin-top: -6px;
}

.container-search {
	.form-group {
		margin-right: 4px;
		margin-bottom: 0;

		.form-control {
			width: 220px;
		}
	}
}

.checkbox label {
	margin: 3px 0;
}

.container-tags {
	margin: 10px 0;
	padding: 0;

	.tag {
		background-color: transparent;
		border: 1px solid #ccc;
		margin-right: 7px;

		&:before {
			content: 'x';
			margin-right: 5px;
			font-weight: bold;
		}
	}

	.pagination {
		margin: 0;
		padding: 6px 12px;
		float: right;
		margin-right:-25px
	}
}


// Usertable

.container-table {
	thead {
		font-weight: bold;
	}

	td {
		text-align: center;

		&:nth-child(2)  {
			text-align: left;
		}

		&:nth-child(5) {
			text-align: right;
		}
	}

	tr.row-selected {
		background: rgba(0, 0, 100, 0.1);
	}

	.avatar {
		margin-right: 10px;
	}

	.user-row {
		td span {
			float: right;
			margin-top: 7px;
		}

		td a {
			text-decoration: none;
			color: inherit;
		}
	}

}
